.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding: 0.75rem;
  box-shadow: 2px 2px hsla(32, 100%, 50%, 0.671);
  background-color: hsla(39, 100%, 53%, 0.747);
  border: 2px solid hsl(229, 100%, 53%);
  /* border: 2px solid hsla(22, 100%, 50%, 0.849); */
  border-radius: 1rem;
  transition: opacity 0.75s ease-in-out;
}
.navbar button {
  color: white;
  font-size: 1rem;
  padding: 0.25rem, 0.25rem;
  background-color: hsl(229, 100%, 53%);
  /*  background-color: hsla(22, 100%, 50%, 0.849); */
  border: 2px solid transparent;
  border-radius: 1rem 0;
  transition: box-shadow 0.4s ease-in-out;
}
.navbar button:hover {
  border: 2px solid hsl(229, 100%, 53%);
  box-shadow: 7px 7px hsla(229, 100%, 58%, 0.623);
  /* border: 2px solid hsla(22, 100%, 50%, 0.849);
  box-shadow: 7px 7px hsla(22, 100%, 50%, 0.514); */
}
.navbar.hidden {
  /*  visibility: hidden; */
  display: none; /* so it doesnt block clicks */
}
@media screen and (min-width: 480px) {
  .navbar {
    gap: 2rem;
    padding: 1rem 2rem;
  }
  .navbar button {
    font-size: 1rem;
    padding: 0.25rem, 0.5rem;
  }
}
